.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left,
.menu_part_right {
  display: flex;
  flex-basis: 35%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu_part_right {
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
